<div class="container" style="margin-top: 6em;">
	<h1>Caregivers
    </h1>
	<div>
		<div class="section">
			<p>As a caregiver, you have options to come to Canada to become a permanent resident or work temporarily.
            </p>
		</div>
		<div class="section">
			<div class="row">
				<div class="col-md-8">
					<div class="section">
						<h2>Permanent residence for caregivers
                        </h2>
						<div class="row">
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/works.html">Home Child Care Provider Pilot and Home Support Worker Pilot
                                        </a>
                                    </h3>
                                    <p>As of June 18, 2019, you may be able to apply for permanent residence through the Home Child Care Provider Pilot or Home Support Worker Pilot if you:</p>
                                    <ul>
                                        <li>meet the eligibility requirements, and </li>
                                        <li>have a job offer to work in one of these occupations</li>
                                    </ul>
                                    <p>Through these pilots, you’ll get an open work permit to come to Canada and work temporarily. This work permit:</p>
                                    <ul>
                                        <li>is occupation-restricted (so you have to work in that specific occupation)</li>
                                        <li>doesn’t need a Labour Market Impact Assessment (LMIA)</li>
                                        <li>lets you get the work experience you need to be eligible for permanent residence </li>
                                    </ul>
                                    <p>If you recently worked as a home child care provider or support worker, your experience may count towards your eligibility for permanent residence.</p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/documents.html">Live-in Caregiver Program
                                        </a>
                                    </h3>
                                    <p>The Live-in Caregiver Program (LCP) is closed to new applicants.</p>
                                    <p>You can only apply for permanent residence through the&nbsp;<a href="/en/immigration-refugees-citizenship/services/work-canada/permit/caregiver-program/become-permanent-resident.html">Live-in Caregiver Program (LCP)</a>&nbsp;if you have at least 2 years of work experience in the program and:</p>
                                    <ul>
                                        <li>you’re already working in Canada with an LCP work permit, or</li>
                                        <li>you were approved for your first LCP work permit based on a Labour Market Impact Assessment submitted to Employment and Social Development Canada on or before November 30, 2014</li>
                                    </ul>
                                    <p>If you have work experience in Canada as a caregiver but don’t qualify for either of the options above, you may be eligible to&nbsp;<a href="/en/immigration-refugees-citizenship/services/immigrate-canada.html">immigrate to Canada</a>&nbsp;through a different program.</p>
                                </section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/submit-profile.html">Submit your Express Entry profile</a>
                                    </h3>
									<p>Create your profile, what to do while you wait in the pool and invitations to apply</p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/apply-permanent-residence.html">Apply for permanent residence if you are invited</a>
                                    </h3>
									<p>Fill out the form, upload documents, pay fees and submit your application</p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/application-approved.html">If your application is approved</a>
                                    </h3>
									<p>Interviews inside and outside Canada, crossing the border and settling in Canada</p>
								</section>
							</div>
						</div>
					</div>
				</div>
            </div>
            <div class="row">
				<div class="col-md-8">
					<div class="section">
						<h2>Temporary work for caregivers
                        </h2>
                        <p>If you don’t meet the requirements for permanent residence as a caregiver, you may be able to work temporarily.
                        </p>
						<div class="row">
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/works.html">Apply to extend your work permit
                                        </a>
                                    </h3>
                                    <p>If you’re currently working in Canada as a caregiver, you may be eligible to extend your work permit through the Temporary Foreign Worker Program (TFWP).

                                        Your employer will need to get a positive Labour Market Impact Assessment (LMIA) first.</p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/documents.html">Apply for a new work permit
                                        </a>
                                    </h3>
                                    <p>In most cases, you can apply for a work permit to work in Canada temporarily as a caregiver through the TFWP if:
                                    </p>
                                    <ul>
                                        <li>you’re in Canada and <a href="/en/immigration-refugees-citizenship/services/work-canada/permit/temporary/eligibility.html#inside">eligible to apply for a work permit from inside Canada</a></li>
                                        <li>you’re outside Canada <strong>and</strong> your employer applied for an LMIA before June 18, 2019, or </li>
                                        <li>you’ll be working in Quebec </li>
                                      </ul>
                                    <p>Your employer will need to get a positive LMIA first.
                                    </p>
                                </section>
							</div>
						</div>
					</div>
				</div>
            </div>
            <div class="row">
				<div class="col-md-8">
					<div class="section">
						<h2>Closed programs
                        </h2>
						<div class="row">
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/works.html">Caring for Children Program
                                        </a>
                                    </h3>
                                    <p>The Caring for Children Program ended on June 18, 2019. If you submitted a complete application before June 18, we’ll continue to process it.

                                        If you’re a caregiver who has been caring for children in Canada, you may be eligible for the Home Child Care Provider Pilot.</p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/documents.html">Caring for People with High Medical Needs Program
                                        </a>
                                    </h3>
                                    <p>Caring for People with High Medical Needs Program ended on June 18, 2019. If you submitted a complete application before June 18, we’ll continue to process it.

                                        If you’re a caregiver who has been working in Canada as a home support worker, you may be eligible for the Home Support Worker Pilot.
                                   
                                        
                                    </p>
                                </section>
                            </div>
                            <div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/documents.html">Interim Pathway for Caregivers
                                        </a>
                                    </h3>
                                    <p>The Interim Pathway for Caregivers ended on October 8, 2019. If you submitted an application before or on October 8, we’ll continue to process it.

                                        If you need to send us your language test results or educational credential assessment, follow the instructions in the guide.</p>
                                </section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>