<div class="sa-landing-footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-3 col-12">
                <div class="widget-footer">
                    <h3 class="widget-title">About us</h3>
                    <p>Welcome to Active Migration services.</p>
                    <p>We have a global presence with a strategic network and associate offices in 8 locations across the world. We are planning on extending our services to over 20 offices by the end of 2021.</p>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                <div class="widget-footer">
                    <h3 class="widget-title">Country</h3>
                    <ul class="listnone arrow-footer">
                        <li><a href="javascript:void(0)">Canada</a>
                        </li>
                        <li><a href="javascript:void(0)">United States</a>
                        </li>
                        <li><a href="javascript:void(0)">United Kingdom</a>
                        </li>
                        <li><a href="javascript:void(0)">Australia</a>
                        </li>
                        <li><a href="javascript:void(0)">New Zealand</a>
                        </li>
                        <li><a href="javascript:void(0)">Singapore</a>
                        </li>
                        <li><a href="javascript:void(0)">South Africa</a>
                        </li>
                        <li><a href="javascript:void(0)">India</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                <div class="widget-footer">
                    <h3 class="widget-title">Visas</h3>
                    <ul class="listnone arrow-footer">
                        <li><a href="javascript:void(0)"> Students Visas</a>
                        </li>
                        <li><a href="javascript:void(0)">Business Visas</a>
                        </li>
                        <li><a href="javascript:void(0)">Family Visas</a>
                        </li>
                        <li><a href="javascript:void(0)">Travel Visas</a>
                        </li>
                        <li><a href="javascript:void(0)">Work Visas</a>
                        </li>
                        <li><a href="javascript:void(0)">Visitor Visas</a>
                        </li>
                        <li><a href="javascript:void(0)">Migrate Visas</a>
                        </li>
                        <li><a href="javascript:void(0)">PR Visas</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-6">
                <div class="widget-footer">
                    <h3 class="widget-title">Contact Us</h3><strong>Corporate Office</strong><address>1541 Barkley Avenue,<br> Windsor, ON N8P0E9</address>
                    <p>+1 224 6558524
                        <br>info@amserviceng.com</p>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-6">
                <div class="widget-footer widget-social">
                    <h3 class="widget-title">Connect</h3>
                    <ul class="listnone">
                        <li><a><i class="fa fa-facebook social-icon"></i> Facebook</a>
                        </li>
                        <li><a><i class="fa fa-twitter social-icon"></i> Twitter</a>
                        </li>
                        <li><a href="https://www.instagram.com/amservicesng/"><i class="fa fa-instagram social-icon"></i> amservicesng</a>
                        </li>
                        <li><a><i class="fa fa-whatsapp social-icon"></i> +1 224 655 8524</a>
                        </li>
                        <!-- <li><a><i class="fa fa-youtube social-icon"></i> Youtube</a>
                        </li>
                        <li><a><i class="fa fa-linkedin social-icon"></i> Linked In</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>