<div class="container" style="margin-top: 6em;">
	<h1>Work in Canada
    </h1>
	<div>
		<div class="section">
			<p>Apply to work in Canada, extend a work permit or hire a foreign worker.</p>
		</div>
		<div class="section">
			<div class="row">
				<div class="col-md-8">
					<div class="section">
						<h2>Foreign workers
                        </h2>
						<div class="row">
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/works.html">Find out if you need a work permit
                                        </a>
                                    </h3>
									<p>You may need a permit depending on the type of work you will do in Canada
                                    </p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/documents.html">Get a work permit
                                        </a>
                                    </h3>
									<p>Find out if you can apply and how to apply to work in Canada as a temporary worker, business person, and student
                                    </p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/submit-profile.html">Extend or change the conditions on your work permit
                                        </a>
                                    </h3>
									<p>What to do if your work permit is about to expire or if you want to change jobs, open work permits for permanent resident applicants
                                    </p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/apply-permanent-residence.html">Travel and work in Canada as a youth
                                        </a>
                                    </h3>
									<p>Find out if you can apply for the International Experience Canada program, how to become a candidate and what to do after you’re in the pool
                                    </p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/application-approved.html">Work as an international student
                                        </a>
                                    </h3>
									<p>How to work while studying and how to apply for a post-graduation work permit to stay in Canada after you graduate
                                    </p>
								</section>
                            </div>
                            <div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/application-approved.html">Get a visitor visa to return to Canada
                                        </a>
                                    </h3>
									<p>How and when a work permit holder should apply
                                    </p>
								</section>
                            </div>
                            <div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/application-approved.html">Prepare to work
                                        </a>
                                    </h3>
									<p>Find a job, explore other career opportunities, get your credentials assessed and learn about language training
                                    </p>
								</section>
							</div>
						</div>
				
					</div>
				</div>
			</div>
		</div>
	</div>
</div>