.normal-font{
    font-weight: normal;
}
.offer-detail{
    border-radius: 5px;
    border: 1px solid #b94a48;
    padding: 0.5em 0.5em 0em 1em;
}
.active{
    background-color: #0062cc;
    color: white;
}
