    <form  [formGroup]="generalImmigrationForm">
    <fieldset>
        <div formArrayName="canadianJobOfferHasOfferInfo" *ngFor="let item of allForms.controls; let i = index;">
            <div class="row col-md-12" [formGroupName]="i">
                <div class="col-md-6">
                    <div class="form-group">
                        <label><span>Occupation</span>
                        </label>
                        <div>
                            <input class="form-control" type="text" name="occupation" value="" formControlName="occupation">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><span>Province or Territory</span>
                        </label>
                        <div >
                            <div></div>
                            <select class="form-control" formControlName="province">
                                <option value="">Select Province/Territory</option>
                                <option value="any province">Any province/territory</option>
                                <option value="Alberta">Alberta</option>
                                <option value="British Columbia">British Columbia</option>
                                <option value="Manitoba">Manitoba</option>
                                <option value="New Brunswick">New Brunswick</option>
                                <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
                                <option value="Northwest Territories">Northwest Territories</option>
                                <option value="Nova Scotia">Nova Scotia</option>
                                <option value="Nunavut">Nunavut</option>
                                <option value="Ontario">Ontario</option>
                                <option value="Prince Edward Island">Prince Edward Island</option>
                                <option value="Quebec">Quebec</option>
                                <option value="Saskatchewan">Saskatchewan</option>
                                <option value="Yukon">Yukon</option>
                            </select>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"><span></span>
                    <br>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><span>What is the contract duration?</span>
                        </label>
                        <div>
                            <div></div>
                            <div class="field-radio-group">
                                <div class="radio ">
                                    <label>
                                        <span>
                                            <input type="radio" formControlName="duration" name="duration" value="2">
                                            <span class="normal-font">Two years or longer</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="radio ">
                                    <label>
                                        <span>
                                            <input type="radio" formControlName="duration" name="duration" value="1">
                                            <span class="normal-font">Between one and two years</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="radio ">
                                    <label>
                                        <span>
                                            <input type="radio" formControlName="duration" name="duration" value="0.5">
                                            <span class="normal-font">Between six months and one year</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="radio ">
                                    <label>
                                        <span>
                                            <input type="radio" formControlName="duration" name="duration" value="0">
                                            <span class="normal-font">Less than six months</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><span>Work hours</span>
                        </label>
                        <div>
                            <div></div>
                            <div class="field-radio-group">
                                <div class="radio ">
                                    <label><span><input type="radio" formControlName="scheduleType" value="Full Time"><span class="normal-font">Full Time (At least 30 hours per week)</span></span>
                                    </label>
                                </div>
                                <div class="radio ">
                                    <label><span><input type="radio" formControlName="scheduleType" value="Part Time"><span class="normal-font">Part Time (At least 15 hours per week)</span></span>
                                    </label>
                                </div>
                                <div class="radio ">
                                    <label><span><input type="radio" formControlName="scheduleType" value="Less Than Part Time"><span class="normal-font">Less than 15 hours per week</span></span>
                                    </label>
                                </div>
                            </div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"><span></span>
                    <br>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><span>Is this Job Offer supported by a Labour Market Impact Assessment (LMIA)?</span>
                        </label>
                        <div>
                            <div class="btn-group btn-group-toggle" ngbRadioGroup >
                                <label ngbButtonLabel class="btn btn-margin-right">
                                    <input ngbButton type="radio" formControlName="hasApproved" value="Yes">Yes
                                </label>
                                <label ngbButtonLabel class="btn btn-margin-right">
                                    <input ngbButton type="radio" formControlName="hasApproved" value="No">No
                                </label>
                                <label ngbButtonLabel class="btn btn-margin-right">
                                    <input ngbButton type="radio" formControlName="hasApproved" value="dont know">I don't know
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" *ngIf=" f[i]['controls']['hasApproved'].value == 'No'">
                    <div class="form-group">
                        <label><span>Is the job being offered exempt from a LMIA by an international trade agreement (e.g. NAFTA) or a federal-provincial agreement?</span>
                        </label>
                        <div>
                            <div class="btn-group btn-group-toggle" ngbRadioGroup >
                                <label ngbButtonLabel class="btn btn-margin-right">
                                    <input ngbButton type="radio" formControlName="isApproved" value="Yes">Yes
                                </label>
                                <label ngbButtonLabel class="btn btn-margin-right">
                                    <input ngbButton type="radio" formControlName="isApproved" value="No">No
                                </label>
                                <label ngbButtonLabel class="btn btn-margin-right">
                                    <input ngbButton type="radio" formControlName="isApproved" value="dont know">I don't know
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>