<div class="container" style="margin-top: 6em;">
	<h1>Family sponsorship
    </h1>
	<div>
		<div class="section">
            <p>Your relatives can live, study and work in Canada if they become permanent residents of Canada. You can sponsor certain relatives to come to Canada if you’re at least 18 years old and a:</p>
            <ul> 
                <li>Canadian citizen or</li> 
                <li>Permanent resident of Canada</li> 
            </ul>
		</div>
		<div class="section">
			<div class="row">
				<div class="col-md-8">
					<div class="section">
						<h2>Services and information
                        </h2>
						<div class="row">
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/works.html">Sponsor your spouse, partner or dependent children</a>
                                    </h3>
									<p>Who can apply, how to apply, forms, fees and processing times</p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/documents.html">Sponsor your parents and grandparents
                                        </a>
                                    </h3>
									<p>Who can apply, how to apply, forms, fees and processing times</p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/submit-profile.html">Sponsor your relatives</a>
                                    </h3>
									<p>Who can apply, how to apply, forms, fees and processing times
                                    </p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/apply-permanent-residence.html">Visit your children or grandchildren
                                        </a>
                                    </h3>
									<p>Who can apply, how to apply, forms, fees and processing times</p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/application-approved.html">Sponsor your adopted child</a>
                                    </h3>
									<p>Who can apply, how to apply, forms, fees and processing times</p>
								</section>
                            </div>
                            <div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/application-approved.html">Help for spouses or partners who are experiencing abuse</a>
                                    </h3>
									<p>Identify abuse or neglect and get help if you are being abused</p>
								</section>
                            </div>
                            <div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/application-approved.html">Immigration options for sponsored spouses or partners</a>
                                    </h3>
									<p>You may have options to stay in Canada if you are facing family violence</p>
								</section>
							</div>
						</div>
				
					</div>
				</div>
			</div>
		</div>
	</div>
</div>