<div class="container" style="margin-top: 6em;">
	<h1>Immigrate as a provincial nominee</h1>
	<div>
		<div class="section">
			<p>How the Provincial Nominee Program works, how to apply online and how to apply on paper.</p>
		</div>
		<div class="section">
			<div class="row">
				<div class="col-md-8">
					<div class="section">
						<h2>Services and information</h2>
						<div class="row">
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/works.html">How the Provincial Nominee Program works </a>
                                    </h3>
									<p>Review the application process and find out how to contact a province or territory</p>
								</section>
                            </div>
                            <div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/documents.html">Apply online as a provincial nominee through Express Entry</a>
                                    </h3>
									<p>How to get a nomination, what to do if you get one and what happens if it’s withdrawn</p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/documents.html">Apply as a provincial nominee on paper</a>
                                    </h3>
									<p>Get a nomination, fill out your application, pay your fees and what happens after you apply</p>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>