<div class="container" style="margin-top: 6em;">
	<h1>Study in Canada as an international student
    </h1>
	<div>
		<div class="section">
			<p>Apply to study in Canada as an international student, extend your study permit and find out about working while you study or after you graduate.
            </p>
		</div>
		<div class="section">
			<div class="row">
				<div class="col-md-8">
					<div class="section">
						<h2>Preparing to apply
                        </h2>
						<div class="row">
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/works.html">Applying to schools in Canada as an international student</a>
                                    </h3>
									<p>The different kinds of schools, when to apply and other requirements</p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/documents.html">Learn about student life in Canada
                                        </a>
                                    </h3>
									<p>Tips on living in Canada as an international student</p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/submit-profile.html">Scholarships for international students
                                        </a>
                                    </h3>
									<p>Awards for students, postdoctoral researchers, faculty and schools
                                    </p>
								</section>
							</div>
						</div>
				
					</div>
                </div>
                <div class="col-md-8">
					<div class="section">
						<h2>Applying for a study permit
                        </h2>
						<div class="row">
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/works.html">Find out if you need a study permit
                                        </a>
                                    </h3>
									<p>Answer a few questions to learn whether you need a study permit to study in Canada</p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/documents.html">Get a study permit
                                        </a>
                                    </h3>
									<p>Who can apply, how to submit your application, processing times and what to expect when you get to Canada</p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/submit-profile.html">Get a study permit faster
                                        </a>
                                    </h3>
									<p>If you live in China, India, Morocco, Pakistan, the Philippines, Senegal or Vietnam, you may be able to get your study permit faster
                                    </p>
								</section>
                            </div>
                            <div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/submit-profile.html">Extend your study permit

                                        </a>
                                    </h3>
									<p>How to renew your study permit or restore your status
                                    </p>
								</section>
                            </div>
                            <div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/submit-profile.html">Study in Canada as a minor child
                                        </a>
                                    </h3>
									<p>What minor children need to go to school in Canada
                                    </p>
								</section>
							</div>
						</div>
				
					</div>
                </div>
                <div class="col-md-8">
					<div class="section">
						<h2>Working or travelling as a student
                        </h2>
						<div class="row">
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/works.html">Work while studying
                                        </a>
                                    </h3>
									<p>Who can work while they study, how much and where (on campus, off campus, co-op, and post-graduation)
                                    </p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/documents.html">Stay and work in Canada after you graduate
                                        </a>
                                    </h3>
									<p>Get a work permit to stay in Canada after you graduate and how to apply for permanent residence
                                    </p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/submit-profile.html">Get a visitor visa to return to Canada
                                        </a>
                                    </h3>
									<p>How and when a study permit holder should apply
                                    </p>
								</section>
							</div>
						</div>
				
					</div>
                </div>
			</div>
		</div>
	</div>
</div>