<div class="container" style="margin-top: 6em;">
	<h1>Visit Canada
    </h1>
	<div>
		<div class="section">
			<p>Find out what document you need to travel, visit family and friends, do business, or transit through Canada, and how to extend your stay.
            </p>
		</div>
		<div class="section">
			<div class="row">
				<div class="col-md-8">
					<div class="section">
						<h2>Services and information
                        </h2>
						<div class="row">
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/works.html">Find out if you need a visa
                                        </a>
                                    </h3>
									<p>Answer a few questions to find out if you need a visa or an Electronic Travel Authorization (eTA) to visit or transit through Canada
                                    </p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/documents.html">Apply for a visitor visa
                                        </a>
                                    </h3>
									<p>What a visitor visa is, eligibility and how to apply
                                    </p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/submit-profile.html">Apply for an Electronic Travel Authorization (eTA)
                                        </a>
                                    </h3>
									<p>What an eTA is, eligibility and how to apply online
                                    </p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/apply-permanent-residence.html">Visit your children or grandchildren
                                        </a>
                                    </h3>
									<p>Eligibility and how to apply for a visa that lets you stay with family in Canada for up to 2 years at a time
                                    </p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/application-approved.html">Stay in Canada longer
                                        </a>
                                    </h3>
									<p>Visitors, students and workers who want to extend their stay (temporary resident status) in Canada
                                    </p>
								</section>
                            </div>
                            <div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/application-approved.html">Visitor visas for workers and students
                                        </a>
                                    </h3>
									<p>How to get a new visa if you have a work or study permit, your visa has or will expire soon and you want to leave and come back to Canada
                                    </p>
								</section>
                            </div>
                            <div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/application-approved.html">Transit through Canada
                                        </a>
                                    </h3>
									<p>What it means to transit through Canada and which documents you need
                                    </p>
								</section>
                            </div>
                            <div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/application-approved.html">Visit Canada on business
                                        </a>
                                    </h3>
									<p>Who business visitors are, and how to bring business visitors or delegates to your meeting or event
                                    </p>
								</section>
                            </div>
                            <div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/application-approved.html">Get border information for visitors
                                        </a>
                                    </h3>
									<p>Travel tips, what happens at the border, and prohibited or restricted goods
                                    </p>
								</section>
							</div>
						</div>
				
					</div>
				</div>
			</div>
		</div>
	</div>
</div>