<div class="container emp-profile" *ngIf="contactDetail">
    <form method="post">
        <div class="row">
            <div class="col-md-8">
                <h4>{{ contactDetail.name | uppercase }}'s Details</h4>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="profile-head">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p><b>{{ contactDetail.name }} </b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p><b>{{ contactDetail.email }} </b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p><b>{{ contactDetail.phone }}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </form>
</div>