<div class="container-fluid">
    <h1 class="mt-4">User's List</h1>
    <div class="card mb-4 mt-4">
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <!-- <div class="row">
						<div class="col-sm-12 col-md-12">
							<div class="dataTables_length pull-right" id="dataTable_length">
								<label>
									<select (click)="onTypeChange($event)" class="custom-select custom-select-md form-control" style="cursor: pointer;">
										<option value="general">General</option>
										<option value="study">Study</option>
										<option value="work">Work</option>
                                    </select> 
                                </label>
							</div>
						</div>
					</div> -->
                    <div class="row">
                        <div class="col-sm-12 col-md-12 mb-2 pl-0">
                            <div class="col-md-6" id="dataTable_length">
                                <input class="form-control" type="text" #userSearch (keyup)="searchUser($event, userSearch.value)" placeholder="Search Name/Email...." />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th rowspan="1" colspan="1" style="width: 25%;">User Full Name</th>
                                        <th rowspan="1" colspan="1" style="width: 15%;">User Email</th>
                                        <th rowspan="1" colspan="1" style="width: 10%;">Allow Access</th>
                                        <th rowspan="1" colspan="1" style="width: 30%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="userList">
                                    <tr *ngFor="let user of userList | paginate: { itemsPerPage: 10, currentPage: p, totalItems: totalSize }; let i = index;">
                                        <td>{{ user.firstName + ' ' + user.lastName }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.isVerified }}</td>
                                        <td>
                                            <button class="btn btn-primary btn-sm" (click)="setUId(user.id)">View Detail</button>&nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 justify-center">
                            <pagination-controls (click)="pageChange()" (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>