<div class="container" style="margin-top: 6em;">
	<h1>Start-up Visa Program
    </h1>
	<div>
		<div class="section">
			<p>Find out how to immigrate to Canada by starting a business and creating jobs, or support innovative entrepreneurs.
            </p>
		</div>
		<div class="section">
			<div class="row">
				<div class="col-md-8">
					<div class="section">
						<h2>Immigrant entrepreneurs
                        </h2>
						<div class="row">
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/works.html">Find out if you can apply</a>
                                    </h3>
									<p>What requirements you need to meet, how to submit your application and what to do after you apply</p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/documents.html">Find a designated organization
                                        </a>
                                    </h3>
									<p>Get one of these groups to support your idea</p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/submit-profile.html">Language testing for start-up visa</a>
                                    </h3>
									<p>What language tests and levels we accept
                                    </p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/apply-permanent-residence.html">Work in Canada while you wait
                                        </a>
                                    </h3>
									<p>Work temporarily while your application for permanent residence is processed</p>
								</section>
							</div>
							<div class="col-md-12">
								<section>
									<h3 class="h5">
                                        <a href="/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/application-approved.html">If your application is approved</a>
                                    </h3>
									<p>Interviews inside and outside Canada, crossing the border and settling in Canada</p>
								</section>
							</div>
						</div>
				
					</div>
				</div>
			</div>
		</div>
	</div>
</div>